development:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: development
  pool: 5
  username: user

test:
  adapter: postgresql
  encoding: utf8
  reconnect: false
  database: test
  pool: 5
  username: user
